/* google font */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');

/* universal styles */

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* header section styles */

.header-section {
	max-width: 1440px;
	margin: 0 auto;
    padding: 0 120px;
	padding-top: 85px;
}

.site-logo {
	color: #3A3A3A;
	font-feature-settings: 'clig' off, 'liga' off;
	font-size: 24px;
	font-weight: 700;
}

.header-section nav {
	display: flex;
	justify-content: space-between;
    align-items: center;
}

.header-menu {
	display: flex;
	gap: 35px;
}

.header-menu li a {
	color: #3A3A3A;
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 600;
}